.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 1100px;
  padding: 92px 50px 96px;
  font-size: 18px;
  background-color: #fff;
}

.header__links-list {
  display: flex;
  gap: 37px;
  list-style: circle;
}

.header__links-list-item__main {
  list-style: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: flex-start;
  gap: 4px;
  font-style: normal;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.cover {
  position: relative;
  display: grid;
  width: 1100px;
  min-height: 757px;
  color: #fff;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
}

.cover__title {
  position: relative;
  width: 1000px;
  margin-left: 50px;
  padding-top: 165px;
  font-size: 100px;
  letter-spacing: 30px;
}

.it {
  display: block;
  margin-bottom: 16px;
  text-align: start;
}

.you {
  display: block;
  margin-bottom: 16px;
  margin-left: 40px;
  text-align: center;
}

.need {
  display: block;
  margin-left: 613px;
  text-align: end;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 106px 50px 50px;
}

.cover__description__text {
  font-size: 22px;
  word-spacing: 18px;
}

.cover__description__button {
  width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin-top: 180px;
  margin-left: 24px;
}

.lots__title {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__list-item {
  position: relative;
  max-width: 334px;
  min-height: 596px;
}

.lots__list-item__link {
  text-decoration: none;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 20px;
  background-position: center;
  background-size: cover;
}

.card-lot__title {
  z-index: 1;
  padding: 48px 40px 0;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-lot__text {
  z-index: 1;
  align-self: end;
  padding: 0 40px 48px;
  font-size: 20px;
}

.card-lot-start {
  background-image: url(../images/card-lot-01.jpg);
}

.card-lot-center {
  background-image: url(../images/card-lot-02.jpg);
}

.card-lot-end {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__more {
  margin-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  margin: 120px 24px 180px;
}

.logo__column {
  display: flex;
  justify-self: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about__column {
  justify-self: center;
}

.about__title {
  padding-top: 136px;
  padding-bottom: 100px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  padding: 0 50px 82px;
  font-size: 18px;
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__links-list {
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-image {
  width: 48px;
  height: 48px;
}
